body {
    height: 300px;
    width: 500px;
}

.col{
    border-right-color: blueviolet;
    border-right-width: 2px;
}

.input-group{
    height: 200px;
}

#result{
    background-color: red !important;
}

h1{
    margin-top: 10px;
    margin-left: 12px;
}

.form-select{
    width: 120px;
    margin-left: 12px;
}